@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<TravelBlog.Models.Location>

<h2>List of Places Travelled</h2>
<ul>
    @foreach (var location in Model)
    {

        <li>@Html.DisplayFor(modelPlace => location.PlaceName) @Html.ActionLink("Edit", "Edit", new { id = location.LocationId })| @Html.ActionLink("Delete", "Delete", new { id = location.LocationId }) | @Html.ActionLink("Details", "Details", new { id = location.LocationId }) </li>

    }
</ul>
<p>@Html.ActionLink("Add a place", "Create")</p>
<a href="/">Back To Home</a>


